<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.pingan.servlet.RegisterServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet>
		<servlet-name>ValidationServlet</servlet-name>
		<servlet-class>com.pingan.servlet.ValidationServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet>
		<servlet-name>AjexServlet</servlet-name>
		<servlet-class>com.pingan.servlet.AjexServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.pingan.servlet.TestServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>


	<servlet-mapping>	
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidationServlet</servlet-name>
		<url-pattern>/validation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjexServlet</servlet-name>
		<url-pattern>/servlet/AjexServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
